@font-face {
  font-family: "Lexend";
  src: url(../fonts/Lexend.ttf);
}

body,
html,
h1,
h2 {
  font-family: "Lexend";
}

body {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
  color: #1b1c57;
  z-index: 1;
}

h2 {
  font-family: "Lexend";
  color: #1b1c57;
  font-size: 2rem;
  font-weight: 600;
  /* white-space:nowrap; */
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0e1735;
}

h4 {
  color: #1b1c57;
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  color: #68799f;
}

h6 {
  font-size: 14px;
  color: #888B97;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.display-2 {
  font-size: 24px;
  font-weight: 500;
}

.display-3 {
  color: #0e1735;
  font-size: 18px;
  font-weight: 500;
}

.display-4 {
  font-size: 20px;
  font-weight: 500;
  color: #3c4563;
}

.display-5 {
  color: #888B97;
  font-size: 14px;
  font-weight: 500;
}

.display-6 {
  color: #f59e0b;
  font-size: 14px;
  font-weight: 500;
}

.container {
  width: 100%;
  overflow: hidden;
}

.card-list {
  height: 104px;
}

.bg-primary {
  background-color: #10b981;
}

.bg-secondary {
  background-color: #d1fae5;
}

#logo {
  top: 40px;
  left: 120px;
  position: absolute;
}

.navbar {
  margin-top: 40px;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  right: 120px;
}

nav div ul {
  list-style-type: none;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div li {
  padding-inline: 12px;
  font-size: 14;
  font-weight: 600;
}

.bg-blur {
  position: absolute;
  z-index: -1;
}

.blur2 {
  top: 0px;
  left: 74px;
  display: inline;
}

.main-btn {
  background-color: #d1fae5;
  display: grid;
  height: 46px;
  color: #047857;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  border: none;
  border-radius: 32px;
  margin-left: 32px;
  padding: 24px 12px;
  align-content: center;
}

#search-term:focus-visible {
  outline: none;
}

.search-btn {
  background-color: #10b981;
  padding: 13px 16px;
  display: inline-flex;
  align-items: center;
  height: 46px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
}

.search-btn:hover {
  background-color: #047857;
}

.main-btn:hover {
  background-color: #047857;
  color: #fff;
}

.nav-secondary {
  display: grid;
  background-color: rgba(255, 255, 255, 0.1);
  height: 32px;
  color: #f0f3fd;
  font-size: 14px;
  align-content: center;
  font-weight: 600;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
}

.outlined-text {
  color: transparent;
  font-family: sans-serif;
  -webkit-text-stroke: 1px #1b1c57;
}

.description {
  color: #626687;
  font-size: 16px;
  line-height: 28px;
}

i {
  font-size: 24px;
}

input {
  border: none;
  width: -webkit-fill-available;
}

.search-input-field {
  display: flex;
  height: 56px;
  width: 496px;
  border: 1px solid #e0e3eb;
  align-items: center;
  justify-content: start;
  padding-left: 27px;
  border-radius: 32px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.featured {
  width: 100%;
  margin-inline: 60px;
  margin-top: 120px;
}

.filter-pill {
  padding: 12px 24px !important;
  border-radius: 32px !important;
  background-color: white !important;
  border: 1px solid #e0e3eb !important;
  color: #888b97;

}

.filter-pill:focus {
  padding: 12px 24px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  border-radius: 32px !important;
  border: 0px solid white !important;
  outline: none;
  background-color: #d1fae5 !important;
  color: #10b981 !important;
}

.filter-pill:focus-visible {
  border: none !important;

}

.nav-btns {
  display: flex;
  height: 52px;
  width: 52px;
  border-radius: 26px;
  align-items: center;
  justify-content: center;
}

.nav-forward {
  color: white;
  background-color: #10b981;
}

.nav-back {
  color: #3c4563;
  background-color: #e0e3eb;
}

/* .listing {
  margin-top: 50px;
} */

.listing-title {
  margin-top: 24px;
  margin-bottom: 14px;
}

.block1 {
  background: url("../images/top_right_blur1.png") no-repeat;

  position: relative;
  height: 720px;
}

.block2 {
  background: url("../images/home-1.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 720px;
  position: relative;
}

.mcard {
  height: 104px;
  width: 328px;
  border-radius: 32px;
  position: absolute;
  right: 350px;
  bottom: 55px;
}

.mcard1 {
  position: absolute;
  right: 125px;
  bottom: 55px;
  height: 104px;
  width: 201px;
  border-radius: 32px;
}

.mcard2 {
  position: absolute;
  right: -95px;
  bottom: 55px;
  height: 104px;
  width: fit-content;
  border-radius: 32px;
}

.parent {
  width: 100%;
  overflow: hidden;
}

.logoImage {
  width: 115px;
  z-index: 1;
}

/* .my-auto {
  position: absolute;
  top: 300;
} */

/* 
.infoBlock {
  width: 496px;
  height: 446px;
  position: absolute;
  left: 50;
} */

.profile-info {
  position: relative;
  left: 56px;
}

.badge {
  position: absolute;
  /* top: 332px; */
  margin-top: 332px;
  margin-left: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #FEE2E2;
}

.badge-icon {
  margin-right: 5px;
  font-size: 16px;
}

.icon {
  font-size: 20px;
}

.list-card {
  display: inline-block;
  margin-top: 50px;
  /* margin-right: 40px; */
}

section.articles {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 125px;
  padding-inline: 100px;
}

hr.small {
  width: 32px;
  height: 3px;
  border-radius: 2px;
  color: transparent;
  background-color: #f59e0b;
  opacity: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.article-card {
  margin-bottom: 40px;
  text-align: start;
}

.article-feat-image {
  max-width: 100%;
}

.timestamp {
  color: #888B97;
  display: flex;
  align-items: center;
}

.subscribe {
  display: grid;
  padding: 60px 300px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.subscribe-bg {
  background: url(../images/card-bg.png) no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 140px 120px;
  border-radius: 32px;
}

.subscribe-header {
  line-height: 48px;
  z-index: 1;
}

.subscribe-btn {
  background-color: #10b981;
  padding: 13px 16px;
  display: inline-flex;
  align-items: center;
  height: 46px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
  white-space: nowrap;
}

.subscribe-btn:hover {
  background-color: #047857;
}

.subscribe-input-field {
  display: flex;
  margin-top: 32px;
  height: 56px;
  width: 496px;
  border: 1px solid #e0e3eb;
  align-items: center;
  justify-content: start;
  padding-left: 27px;
  border-radius: 32px;
  z-index: 1;
  box-shadow: 0px 9px 8px 0px rgba(89, 92, 219, 0.05);
}

#sm-subscribe-btn {
  display: none;
}

.footer {
  position: relative;
  height: 100%;
  padding: 40px 120px;
}

.footer-links {
  display: block;
  font-size: 14px;
  color: #888B97;
  font-weight: 400;
  margin-bottom: 18px;
}

.footer-links:hover {
  text-decoration: underline;

}

.filter-pill~p {
  display: none;
}


@media (max-width: 1100px) {

  .filter-pill:focus~p {
    display: block;
    font-size: 14px;
  }

  .dec2,
  .dec3,
  .dec7,
  .dec8 {
    display: none;
  }

  .navtag {
    display: none;
  }
}

@media (max-width:1000px) {
  .subscribe-header {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .block1 {
    height: 500px;
  }

  .infoBlock {
    padding-top: 40px !important;
    margin-bottom: 20px !important;
  }

  .block2 {
    background: none;
    display: flex;
    height: 130px;
    width: 100%;
    justify-content: center;
  }

  .mcard,
  .mcard1,
  .mcard2 {
    position: static;
    margin-right: 40px;
  }

  .featured {
    margin-top: 60px;
  }



  .subscribe-header {
    font-size: 26px;
    line-height: 36px;
    margin: 0;
  }

  .subscribe-input-field {
    margin-top: 20px;
  }
}

@media (max-width:1300px) {

  .dec1,
  .dec4,
  .dec5,
  .dec6 {
    display: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: normal;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
    margin-bottom: 0;
  }

  h5 {
    font-size: 10px;
  }

  h6 {
    font-size: 10px;
    line-height: normal!important;
  }

  .navbar {
    right: 40px;
  }f

  #logo {
    left: 20px;
  }

  .description {
    font-size: 12px;
    line-height: normal;
  }

  .infoBlock {
    margin-top: 60px !important;
  }

  #search-block {
    padding-left: 10px !important;
  }

  .search-input-field {
    display: inline-flex;
    width: 200px;
    height: 40px;
    font-size: 12px;
    padding-left: 12px;
  }

  #search-term {
    background-color: transparent;
  }

  .search-input-field>span {
    /* Location Icon */
    margin-right: 0 !important;
  }

  .search-input-field>span>i {
    /* Location Icon */
    font-size: 16px;
  }

  .search-btn {
    display: none;
  }

  .search-btn-xs {
    margin-left: 10px;
    padding: 8px;
    height: 36px;
    font-size: 14px;

    background-color: #10b981;
    display: inline-flex;
    align-items: center;
    color: white;
    font-weight: 600;
    border-radius: 32px;
  }

  .images {
    width: 100%;
    height: 40px;
    margin-right: 15px;
  }
  
  .block2 img {
    width: 40px;
    max-height: 100%;
    margin: 0;
  }

  .block1 {
    height: 400px;
  }

  .block2 {
    height: 250px;
    align-items: center;
    flex-direction: column;
  }

  .mcard, .mcard1, .mcard2 {
    padding: 10px!important;
    height: 45%;
    /* width: 50%; */
    width: fit-content;
    margin-right: 0;
    margin-bottom: 10px;
    box-shadow: 0 0.3rem 0.6rem rgba(0,0,0,.1)!important;
  }

  .featured {
    margin-inline: 20px;
  }
  
  .listing-title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .display-4 {
    font-size: 16px;
  }

  .listing img {
    max-width: 150px;
  }

  .list-card {
    margin-top: 30px;
    margin-right: 20px;
  }

  /* .list-card img {
    max-width: 24px;
  } */

  .badge {
    margin-top: 135px;
    padding: 4px 10px;
  }
  .badge-icon {
    font-size: 13px;
  }

  .profile-info h4 {
    margin-bottom: 4px;
  }

  .profile-info {
    left: 45px;
  }

  section.articles {
    padding-inline: 0;
  }

  .article-card img{
    max-width: 150px;
  }

  .display-5 {
    font-size: 10px;
    line-height: 3px;
  }

  .display-3 {
    font-size: 12px;
    line-height: normal!important;
  }

  .subscribe-bg {
    margin: 20px 15px;
    background-size: cover;
  }

  .subscribe {
    padding: 10px 40px;
  }

  .subscribe-header {
    font-size: 20px;
  }

  .subscribe-input-field {
    height: 40px;
    width: 200px;
    padding-left: 12px;
  }

  .subscribe-btn {
    display: block;
    height: 36px;
    margin: 0px;
    padding: 10px;
  }

  #search-term {
    width: 140px;
    font-size: 14px;
    margin-top: 10px;
  }

  #lg-subscribe-btn {
    display: none;
  }

  #sm-subscribe-btn {
    display: block;
    margin-top: 15px;
  }

  .footer {
    padding: 40px 40px;
  }

  .footer-links {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .footer img {
    max-width: 100%;
  }

}

/* block2 {
  background: url("../images/home-1.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 720px;
  position: relative;
} */