@font-face {
  font-family: "Lexend";
  src: url(../fonts/Lexend.ttf);
}

body,
html,
h1,
h2 {
  font-family: "Lexend";
}

body {
  height: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #1b1c57;
  z-index: 1;
}

h2 {
  font-family: "Lexend";
  color: #1b1c57;
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: #0e1735;
}

h4 {
  color: #1b1c57;
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  color: #68799f;
}

h6 {
  font-size: 14px;
  color: #888B97;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.display-2 {
  font-size: 24px;
  font-weight: 500;
}

.display-3 {
  color: #0e1735;
  font-size: 18px;
  font-weight: 500;
}

.display-4 {
  font-size: 20px;
  font-weight: 500;
  color: #3c4563;
}

.display-5 {
  color: #888B97;
  font-size: 14px;
  font-weight: 500;
}

.display-6 {
  color: #f59e0b;
  font-size: 14px;
  font-weight: 500;
}

.container {
  width: 100%;
  overflow: hidden;
}

.card-list {
  height: 104px;
}

.bg-primary {
  background-color: #10b981;
}

.bg-secondary {
  background-color: #d1fae5;
}

#logo {
  top: 40px;
  left: 120px;
  position: absolute;
}

.navbar {
  margin-top: 40px;
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  right: 120px;
}

nav div ul {
  list-style-type: none;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div li {
  padding-inline: 12px;
  font-size: 14;
  font-weight: 600;
}

.bg-blur {
  position: absolute;
  z-index: -1;
}

.blur2 {
  top: 0px;
  left: 74px;
  display: inline;
}

.main-btn {
  background-color: #d1fae5;
  display: grid;
  height: 46px;
  color: #047857;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  border: none;
  border-radius: 32px;
  margin-left: 32px;
  padding: 24px 12px;
  align-content: center;
}

#search-term:focus-visible{
  outline: none;
}

.search-btn {
  background-color: #10b981;
  padding: 13px 16px;
  display: inline-flex;
  align-items: center;
  height: 46px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
}

.search-btn:hover {
  background-color: #047857;
}

.main-btn:hover {
  background-color: #047857;
  color: #fff;
}

.nav-secondary {
  display: grid;
  background-color: rgba(255, 255, 255, 0.1);
  height: 32px;
  color: #f0f3fd;
  font-size: 14px;
  align-content: center;
  font-weight: 600;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
}

.outlined-text {
  color: transparent;
  font-family: sans-serif;
  -webkit-text-stroke: 1px #1b1c57;
}

.description {
  color: #626687;
  font-size: 16px;
  line-height: 28px;
}

i {
  font-size: 24px;
}

input {
  border: none;
  width: -webkit-fill-available;
}

.search-input-field {
  display: flex;
  height: 56px;
  width: 496px;
  border: 1px solid #e0e3eb;
  align-items: center;
  justify-content: start;
  padding-left: 27px;
  border-radius: 32px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.featured {
  margin-left: 160px;
  margin-top: 120px;
}

.pills {
  /* margin-inline: 160px; */
}

.filter-pill {
  padding: 12px 24px;
  border-radius: 32px;
  background-color: white;
  border: 1px solid #e0e3eb;
  color: #888b97;
}

.filter-pill-selected {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 32px;
  background-color: #d1fae5;
  color: #10b981;
}

.nav-btns {
  display: flex;
  height: 52px;
  width: 52px;
  border-radius: 26px;
  align-items: center;
  justify-content: center;
}

.nav-forward {
  color: white;
  background-color: #10b981;
}

.nav-back {
  color: #3c4563;
  background-color: #e0e3eb;
}

.listing {
  margin-top: 50px;
}

.listing-title {
  margin-top: 24px;
  margin-bottom: 14px;
}

.block1 {
  background: url("../images/top_right_blur1.png") no-repeat;

  position: relative;
  height: 720px;
}

.block2 {
  background: url("../images/home-1.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 720px;
  position: relative;
}

.mcard {
  height: 104px;
  width: 328px;
  border-radius: 32px;
  position: absolute;
  right: 350px;
  bottom: 55px;
}

.mcard1 {
  position: absolute;
  right: 125px;
  bottom: 55px;
  height: 104px;
  width: 201px;
  border-radius: 32px;
}

.mcard2 {
  position: absolute;
  right: -40px;
  height: 104px;
  width: fit-content;
  bottom: 55px;
  border-radius: 32px;
}

.parent {
  width: 100%;
  overflow: hidden;
}

.logoImage {
  width: 115px;
  z-index: 1;
}

/* .my-auto {
  position: absolute;
  top: 300;
} */

.block1 {
  position: relative;
}
/* 
.infoBlock {
  width: 496px;
  height: 446px;
  position: absolute;
  left: 50;
} */

.profile-info {
  position: relative;
  left: 56px;
}

.badge {
  position: absolute;
  /* top: 332px; */
  margin-top: 332px;
  margin-left: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #FEE2E2;
}

.badge-icon {
  margin-right: 5px;
  font-size: 16px;
}

.icon {
  font-size: 20px;
}

.list-card {
  display: inline-block;
  margin-right: 40px;
}

section.articles {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 225px;
  padding-inline: 100px;
}

hr.small {
  width: 32px;
  height: 3px;
  border-radius: 2px;
  color: transparent;
  background-color: #f59e0b;
  opacity: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.article-card {
  margin-bottom: 40px;
  text-align: start;
}


.timestamp {
  color: #888B97;
  display: flex;
  align-items: center;
}

.subscribe {
display: grid;
  height: 312px;
  padding: 60px 300px;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.subscribe-bg {
  background: url(../images/card-bg.png) no-repeat;
  background-size: 100%;
  margin: 140px 120px;
}

.subscribe-btn {
  background-color: #10b981;
  padding: 13px 16px;
  display: inline-flex;
  align-items: center;
  height: 46px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 32px;
  white-space: nowrap;
}

.subscribe-btn:hover {
  background-color: #047857;
}

.subscribe-input-field {
  display: flex;
  margin-top: 32px;
  height: 56px;
  width: 496px;
  border: 1px solid #e0e3eb;
  align-items: center;
  justify-content: start;
  padding-left: 27px;
  border-radius: 32px;
  box-shadow: 0px 9px 8px 0px rgba(89, 92, 219, 0.05);
}

.footer {
  position: relative;
  height: 100%;
  padding: 140px 120px;
}

.footer-links {
  display: block;
  font-size: 14px;
  color: #888B97;
  font-weight: 400;
  margin-bottom: 18px;
}

.footer-links:hover {
  text-decoration: underline;
  
}

#avatar-5 {
  width: 15%;
}
