@font-face {
    font-family: 'Lexend';
    src: url(../fonts/Lexend.ttf);
}

body,
html,
h1,
h2 {
    font-family: 'Lexend';
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: #1B1C57;
    z-index: 1;
}

h2 {
    font-family: 'Lexend';
    color: #1B1C57;
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #0E1735;
}

h4 {
    color: #1B1C57;
    font-size: 16px;
    font-weight: 600;
}

h5 {
    font-size: 12px;
    color: #68799F;
}

a {
    text-decoration: none;
}

.display-2 {
    font-size: 24px;
    font-weight: 500;
}

.display-4 {
    font-size: 20px;
    font-weight: 500;
    color: #3C4563;
}

.display-6 {
    color: #F59E0B;
    font-size: 14px;
    font-weight: 500;
}

.container {
    width: 100%;
}

.card-list {
    height: 104px;
}

.mcard {
    position: absolute;
    right: 320px;
    bottom: 120px;
    height: 104px;
    border-radius: 32px;
}

.mcard1 {
    position: absolute;
    right: 100px;
    bottom: 120px;
    height: 104px;
    border-radius: 32px;
}

.mcard2 {
    position: absolute;
    right: -70px;
    height: 104px;
    width: fit-content;
    bottom: 120px;
    border-radius: 32px;

}

.bg-primary {
    background-color: #10B981;
}

.bg-secondary {
    background-color: #D1FAE5;
}

#logo {
    top: 40px;
    left: 120px;
    position: absolute;
}

.navbar {
    position: absolute;
    right: 120px;
    margin-top: 40px;
    z-index: 1;
}

nav div ul {
    list-style-type: none;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav div li {
    padding-inline: 12px;
    font-size: 14;
    font-weight: 600;
}

.bg-blur {
    position: absolute;
    z-index: -1;
}

.blur2 {
    top: 0px;
    left: 74px;
    display: inline;
}

.main-btn {
    background-color: #D1FAE5;
    display: grid;
    height: 46px;
    color: #047857;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    border: none;
    border-radius: 32px;
    margin-left: 32px;
    padding: 24px 12px;
    align-content: center;
}

.search-btn {
    background-color: #10B981;
    padding: 13px 16px;
    display: inline-flex;
    align-items: center;
    height: 46px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 32px;
}

.main-btn:hover {
    background-color: #047857;
    color: #fff;
}

.nav-secondary {
    display: grid;
    background-color: rgba(255, 255, 255, 0.1);
    height: 32px;
    color: #F0F3FD;
    font-size: 14px;
    align-content: center;
    font-weight: 600;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;

}

.outlined-text {
    color: transparent;
    font-family: sans-serif;
    -webkit-text-stroke: 1px #1B1C57;
}

.description {
    color: #626687;
    font-size: 16px;
    line-height: 28px;
}

i {
    font-size: 24px;
}

input {
    border: none;
    width: -webkit-fill-available;
}

.search-input-field {
    display: flex;
    height: 56px;
    width: 496px;
    border: 1px solid #E0E3EB;
    align-items: center;
    justify-content: start;
    padding-left: 27px;
    border-radius: 32px;
}

.images {
    display: flex;
    justify-content: space-between;
}

.featured {
    margin-left: 160px;
    margin-top: 120px;
}

.pills {
    margin-inline: 160px;
}

.filter-pill {
    padding: 12px 24px;
    border-radius: 32px;
    background-color: white;
    border: 1px solid #E0E3EB;
    color: #888B97;
}

.filter-pill-selected {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 32px;
    background-color: #D1FAE5;
    color: #10B981;
}

.nav-btns {
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 26px;
    align-items: center;
    justify-content: center;
}

.nav-forward {
    color: white;
    background-color: #10B981;
}

.nav-back {
    color: #3C4563;
    background-color: #E0E3EB;
}

.listing {
    margin-top: 50px;
}

.listing-title {
    margin-top: 24px;
    margin-bottom: 14px;
}